{{#if addDbGames}}
  <h5>Choose which games you would like to play.</h5>

  <span class="checkList">{{md-checks selection=addGame content=sortedGames optionLabelPath="title" optionValuePath="id"}}</span>


  <button type="button" name="button" class='waves-effect waves-light btn signUpBtn' {{action 'addToWants'}}>Confirm</button>
{{else}}
  {{md-btn icon='mdi-action-favorite' class="waves-effect waves-light btn signUpBtn" iconPosition='right' text='Add Games You Want To Play' action='addDbGames'}}
{{/if}}
