<div class="container">
  <div class="wrapper">
    <div class="choose-owned-games">
      <h5>Choose which games you would like to appear on your profile.</h5>
      <span class="checkList">{{md-checks selection=addGame content=games optionLabelPath="name.content" optionValuePath="objectid"}}</span>
      <button id="confirmGamesBtn" type="button" name="button" class='waves-effect waves-light btn-large signUpBtn' {{action 'addToCollection'}}>Confirm</button>
    </div>
  </div>
</div>
