
{{md-checks selection=addGame content=allGames optionLabelPath="content.yearpublished"}}

<button type="button" name="button" class='btn' {{action 'addToCollection'}}>Confirm</button>
{{log addGame}}
