
{{md-checks selection=addGame content=games optionLabelPath="name.content" optionValuePath="objectid"}}

<button type="button" name="button" class='btn' {{action 'addToCollection'}}>Confirm</button>
{{log games}}
