{{!-- please make this display inline --}}
<div class="game-display">
  <h5 class="game-title">{{game.title}}</h5>
  <img class="game-display-icon" src={{game.image}}/>
  <p class="game-display">Max Players: {{game.maxPlayers}}</p>
</div>
