<img src="{{game.image}}" alt="board game cover" class="circle">
<h6 class="title"><a href="http://boardgamegeek.com/boardgame/{{game.gameId}}" target="_blank">{{game.title}}</a></h6>
<h6>Max Players: {{game.maxPlayers}}</h6>
