<div class="container">

  <h5>Choose which games you would like to appear on your profile.</h5>
  {{md-checks selection=addGame content=games optionLabelPath="name.content" optionValuePath="objectid"}}

  <button type="button" name="button" class='btn' {{action 'addToCollection'}}>Confirm</button>
</div>
