<div class="row">
  <h2>Sign in</h2>
  <form class="col s12">
    <div class="row">
      {{md-input value=usernameLogin label='Board Game Geek Username' class="col s5" validate=true}}
      {{md-input value=passwordLogin label='Password' class="col s5" validate=true type="password"}}
      <div class="col s2">
        <button type="submit" class="btn" {{action "signIn"}}>Sign In</button>
      </div>
    </div>
  </form>
</div>
