
<div class="wrapper">

  <div class="browse-users-header">
    <h2>Meet Fellow Players</h2>
    <h4>Visit their profiles to see their game collections and location!</h4>
     <button class="waves-effect waves-light btn signUpBtn" onclick="Materialize.showStaggeredList('#staggered-list')">Click to see Users</button>
  </div>
  <ul id ="staggered-list">
      {{#each users as |user|}}
      {{user-tile user=user}}
      {{/each}}
  </ul>
</div>
