@import 'materialize';
@import 'ember-cli-materialize';
@import 'base/index';
// @import 'base/utils'; goes near top, above components. Variables and mixins go at very top;

@import 'layout/index';
@import 'components/index';

li img {
  width: 100px;
}

.map-display {
  height: 600px;
  width: 600px;
}

.game-display{
  display: inline;
}

.game-display-icon {
  width: 50px;
}
h5.game-title {
  display:inline;
}
h1.game-display {
  display: inline;
}

p.game-display {
  font-size: 12px;
  display: inline;
}

.lean-modal {
  /* Hack to get the modal to display right */
  opacity:1.0;
  background-color: rgba(73, 82, 90, 0.5);
}

.circle{
  width: 50px !important;
  height: 50px !important;
}
