// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0px;
  margin: 0px;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

hr {
  border: 1px solid black;
}

h1 {
  text-align: center;
}
