.about-box1 {
  color: #FAFAFA;;
  background-color: #616161;
  background-color: rgba(63, 60, 60, 1);
  max-width: 65%;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 375px;
}

.about-text1 {
  float: left;
  margin-left: 50px;
  margin-top: 50px;
}

.about-box2 {
  color: #616161;
  background-color: #FDD835;
  height: 310px;
  width: 910px;
  position: absolute;
  top: 655px;
  right: 0;
  margin-left: 50%;
  display: block;
  padding-left: 20px;
  padding-right: 20px
}

.about-text2 {
  float: right;
  margin-right: 40px;
  margin-top: 100px;
}

.call-to-action {
  text-align: center;
  margin-top: 265px;
  h5 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.sign-in-text {
  padding-top: 10px;
}

#staggered-list {
  text-align: center;
  padding-bottom: 30px;
}

.staggered {
  opacity: 0;
}

#users {
  letter-spacing: 1px;
  transition: all 400ms ease;
  text-align: center;
  &:hover {
    color: #29B6F6;
    transition: all 400ms ease;
    letter-spacing: 3px;
  }
}

.content1 {
  padding-bottom: 50px;
}


.basic-user-info {
  // margin-top: 200px
  // margin-left: 20%;
}

.map-content {
  margin-left: 10%;
}

.public-user-collection {
  margin-left: 10%;
}

.public-user-wishlist {
  margin-left: 10%;
}
