.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  height: 80vh;
}

.overlay {
  background-color: #F5F7FB;
}

.wrapper {
  background-color: #FAFAFA;
  height: 80vh;
}
