// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  margin: 5% auto;
  text-align: center;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 15px;
  hr {
    width: 600px;
  }
  a {
    font-size: 12px;
    &:hover {
      font-weight: bold;
    }
  }
}
