// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  margin: 5% auto;
  text-align: center;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 15px;
  color: #3F3C3C;
  hr {
    width: 600px;
  }
}
