// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.index-header {
  background: url('http://cdn.skim.gs/images/classic-board-game-feature/how-classic-board-games-can-be-fun-and-educational');
  background-size: cover;
  background-position: 0%, 90%;
  width: 100%;
  height: 500px;
  position: relative;
}

.header-text {
  margin-top: 0;
  text-align: center;
  color: #FAFAFA;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.modal-header {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  hr {
    color: blue;
    width: 550px;
    margin-bottom: 20px;
  }
}

.browse-users-header {
  text-align: center;
  margin-top: 1px;
  padding-top: 30px;
  padding-bottom: 40px;
  color: rgba(251, 140, 0, 1);
  background-color: #FAFAFA;
}
