// -----------------------------------------------------------------------------
// This file contains all styles related to the navbar of the site/application.
// -----------------------------------------------------------------------------

.navLink {
  color: white !important;
}

.side-nav {
  background-color: #9ccc65 !important;
}

.side-nav a {
  color: FFF !important;
}
