<h1>Welcome, {{model.whoAmI.user.username}}</h1>

{{admin-game-list games=model.databaseGames addToWantList="addToWantList"}}


    <button type="button" name="button" class='btn'{{action 'formShow'}}>Edit Profile</button>
{{admin-edit}}
