<div class="container">

  <h1>Welcome, {{model.whoAmI.user.username}}</h1>

  {{admin-game-list games=model.databaseGames addToWantList="addToWantList"}}
  {{admin-collection-list}}
<div class="divider"></div>

  {{admin-edit updateProfile="updateProfile"}}
</div>
