{{#md-navbar name='Game. Set. Match.' class='light-green lighten-1'}}
{{/md-navbar}}

<div class="container">
  <h2 id="title">some stuff goes here</h2>

  {{outlet}}
  <div class="footer">
    <hr>
    <p>Created by Torrence Stratton, Brad London, Jessica Fix, &amp; Abby Rolling | &copy; 2016</p>
  </div>
</div>


<!-- {{ember-cli-materialize modal container}}
{{md-modal-container}} -->
