<div class="index-header">
  <h2 class="header-text">A community of board game lovers,<br>
    conquering territories and eating pretzels,<br>
    one 2-3hr session at a time.
  </h2>
  <a class="waves-effect waves-light btn-large joinBtn">JOIN US</a>
</div>
<div class="container">


</div>
