<div class="index-header">
  <h2 class="header-text">A community of board game lovers,<br>
    conquering territories and eating pretzels<br>
    one 2-3hr session at a time.
  </h2>
</div>
<div class="call-to-action">
  <!-- {{md-btn text='Join Us'
  class='joinBtn' buttonType='large'}} -->
</div>
