<div class="index-header">
  <h2 class="header-text">A community of board game lovers,<br>
    conquering territories and eating pretzels,<br>
    one 2-3hr session at a time.
  </h2>
  <a class="waves-effect waves-light btn-large joinBtn">JOIN US</a>
</div>
  <div class="about-section">
    <div class="about-box1">
      <h4>Track your game collection.</h4>
      <h4>Browse the latest games.</h4>
      <h4>See what your friends are playing.</h4>
    </div>
    <div class="about-box2">
      <h4>Connect with other game lovers.</h4>
      <h4>Host a game night or join another's.</h4>
    </div>
  </div>
