
<div class="overlay">
  <div class="index-header">
    <h2 class="header-text">A community of board game lovers,<br>
      conquering territories and eating pretzels,<br>
      one 2-3hr session at a time.
    </h2>
    <a class="waves-effect waves-light btn-large joinBtn">JOIN US</a>
    {{!-- This button will not work unless it triggers a propery change, and it's difficult to have properties on routes. --}}
  </div>
  <div class="about-section">
    <div class="about-box1">
      <div class="about-text1">
        <h4>Track your game collection.</h4>
        <h4>Browse the latest games.</h4>
        <h4>See what your friends are playing.</h4>
      </div>
    </div>
    <div class="about-box2">
      <div class="about-text2">
        <h4>Connect with other game lovers or</h4>
        <h4>host a game night.</h4>
      </div>
    </div>
  </div>
  <div class="call-to-action">
    <h3>Ready to meet your fellow gamers?</h3>
    <h5>Sign up with your Board Game Geek username and start connecting with other players.</h5>
    {{modal-trigger signIn="signIn" newUser="newUser" allUsers=model}}
  </div>
</div>
